.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;

}

.formdesign {
  background-color: #ece5ff;
  width: 60%;
  padding: 80px;
  padding-bottom: 250px;
  margin-bottom: 100px;
}

.userDetails {
  font-size: 64px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;

}

.labelrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  
}

.add-user-button {
  margin-top: 0px;
  margin-left: 20px;
  background-color: #AD85CE;
  padding: 7px 27px;
  border: none;
  color: white;
}

.add-user-button-create {
  background-color: #AD85CE;
  padding: 7px 27px;
  border: none;
  color: white;
  margin-top: 35px;
  
}

button:hover {
  background-color: white;
  color: #AD85CE;
  border: #AD85CE;
  box-shadow: 1px 1px 9px 0px #AD85CE;
}

.bordered {
  border: 1px solid #000;
}

.input-label {
  width: 200px;
}

.input-field {
  width: 65%;
}

.select-role-dropdown {
  width: 40%;
}

.role-textarea {
  width: 40%;
}