.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;

}

.formdesign {
  background-color: #ece5ff;
  width: 60%;
  padding: 80px;
}

.navbar {
  width: 200%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: -250px;
}


.userDetails {
  font-size: 64px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;

}

.labelrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

input,
select {
  width: 300px;
  padding: 1px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 2%;
  border: none;

}

button {
  background-color: #AD85CE;
  padding: 7px 27px;
  border: none;
  color: white;
  margin-top: 35px;
}

button:hover {
  background-color: white;
  color: #AD85CE;
  border: #AD85CE;
  box-shadow: 1px 1px 9px 0px #AD85CE;
}
