.labels > input {
    border-color: transparent;
    margin-right: 0px;
    width: 80%;
}

select {
    border-color: transparent;
    width: 65%;
}

button {
    border-radius: 3px;
}

.main-apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.upload-cv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.upload-cv-btn{
    background-color: #AD85CE;
    padding: 7px 27px;
    border: none;
    color: white;
    margin-top: 35px;
}

.upload-cv-btn:hover, .apply-btn:hover {
    background-color: white;
    color: #AD85CE;
    border: #AD85CE;
    box-shadow:  1px 1px 9px 0px #AD85CE;
}

.main-form {
    width: 60%;
    background-color: #F0E5F9;
    padding: 3%;
    box-shadow:  1px 1px 9px 0px #AD85CE;
}

.section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.general-data-section {
    width: 80%;
    display: grid;
    /* justify-items: start; */
    justify-items: center;
    grid-gap: 20px;
}

.labels {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.apply-btn {
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: center;
    justify-content: center;

    background-color: #AD85CE;
    padding: 7px 27px;
    border: none;
    color: white;
    /* margin-top: 35px; */
}

.apply-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.add-work-experience, .add-education, .add-project {
    min-width: 33%;
    background-color: #AD85CE;
    padding: 7px 27px;
    border: none;
    color: white;
    margin: 0px;
}

.add-work-experience:hover, .add-education:hover, .add-project:hover {
    background-color: white;
    color: #AD85CE;
    border: #AD85CE;
    box-shadow:  1px 1px 9px 0px #AD85CE;
}

.delete-btn-div {
    display: grid;
    justify-items: start;
    grid-gap: 20px;
}

@media only screen and (min-width: 670px) {
    .general-data-section {
        width: 100%;
    }

    .labels > input {
        /* border-color: transparent; */
        /* margin-right: 30px; */
        width: 60%;
    }

    .select {
        width: 60%;
    }
}

@media only screen and (min-width: 690px) {
    .general-data-section {
        width: 100%;
    }

    .labels > input {
        /* border-color: transparent; */
        /* margin-right: 30px; */
        width: 60%;
    }

    .select {
        width: 60%;
    }
}

@media only screen and (min-width: 753px) {
    .general-data-section {
        width: 80%;
    }

    .labels > input {
        /* border-color: transparent; */
        /* margin-right: 30px; */
        width: 60%;
    }

    .select {
        width: 65%;
    }
}

@media only screen and (min-width: 800px) {

    .labels > input {
        width: 65%;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 920px) {

    .labels > input {
        width: 65%;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1000px) {

    .labels > input {
        width: 75%;
        margin-right: 0;
    }
}